<IfModule mod_rewrite.c>
RewriteEngine On

# -----------------------------------------------------
# REMOVE "public" FROM URL (FOR ASSETS ONLY)
# -----------------------------------------------------
RewriteCond %{REQUEST_URI} ^/public/(.*)$
RewriteRule ^public/(.*)$ /$1 [L,R=301]

# -----------------------------------------------------
# Normal Laravel Rules
# -----------------------------------------------------
<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Handle X-XSRF-Token Header
RewriteCond %{HTTP:x-xsrf-token} .
RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Laravel Front Controller
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

</IfModule>
